{% for h in groups['all'] %}
Host {{ h }}
  User {{ hostvars[h].get('ansible_user') }}
{% if ansible_ssh_port is defined %}
  Port {{ ansible_ssh_port }}
{% endif %}
  HostName {{ hostvars[h].get('ansible_host') }}
{% if ansible_ssh_private_key_file is defined %}
  IdentityFile {{ ansible_ssh_private_key_file }}
  IdentitiesOnly yes
{% endif %}
  StrictHostKeyChecking no
{{ "\n" }}
{% endfor %}
